.divWelcome {
    display: flex;
    flex-direction: column;
    align-self: center;
}
.logoToTake {
    height: 100px;
}

.centerText {
    text-align: center;
}

body {
    margin: 0;
    background-color: #fff;
}

.divCenter {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    justify-self: center;
}

* {
    font-family: "Instrument Sans", sans-serif;
}

p{
    margin: 0;
}

.loginButtons {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 48px;
    gap: 10px;
}
.headerCommon {
    top: 0;
    width: 95vw;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #ffffffaf;
    backdrop-filter: blur(20px);
    position: fixed;
}
.logInButton {
    position: absolute;
    bottom: 10vh;
    align-self: center;
}
.input {
    border: 0;
    background-color: rgba(0, 0, 0, 0.100);
    padding: 15px;
    border-radius:12px;
}
.inputLabel {
    color: #000000c3;
    margin: 0;
    font-weight: 300;
}
.divInput {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
}
.marginTopHeader {
    margin-top: 8vh;
}
.headerLabel {
    font-weight: 600;
    font-size: 18px;
    width: 85%;
    text-align: center;
}
.transparentButton {
    border: 0;
    background-color: #ffffff00;
    padding: 10px;
}
.button {
    border: 0;
    padding: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 12px;
    font-size: 16px;
    background-color: #d7d7d7;
    font-weight: 500;
}

.green {
    background-color: #00B944;
    color: #fff;
}