.divWelcome {
    display: flex;
    flex-direction: column;
    align-self: center;
}
.logoToTake {
    height: 100px;
}

.centerText {
    text-align: center;
}

body {
    margin: 0;
    background-color: #fff;
}

.divCenter {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    justify-self: center;
}

* {
    font-family: "Instrument Sans", sans-serif;
}

p{
    margin: 0;
}

.loginButtons {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 48px;
    gap: 10px;
}
.headerCommon {
    top: 0;
    width: 95vw;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #ffffffaf;
    backdrop-filter: blur(20px);
    position: fixed;
}
.headerApp {
    display: flex;
    gap: 20px;
    padding: 20px;
}
.searchBarSlightlyTransparentTone {
    filter: opacity(0.6);
}
.navBarButton {
    background-color: #00000000;
    border: none;
    width: 35%;
    height: min-content;
}
.navBarMain{
    width: 95vw;
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: center;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.shadow {
    box-shadow: rgba(100, 100, 111, 0.079) 0px 0px 29px 0px;
}
.active {
    filter: invert(42%) sepia(63%) saturate(2627%) hue-rotate(117deg) brightness(101%) contrast(102%);
}
.loadingIndicator {
    position: absolute;
    left: 45%;
    right: 45%;
    top: 45%;
    animation: spin 0.4s linear infinite;
    filter: brightness(0);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.inactive {
    filter: brightness(0) opacity(0.7);
}
.searchBar {
    background-color: #f5f5f5;
    display: flex;
    border-radius: 1000px;
    padding: 10px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.centerIcon {
    display: flex;
    justify-content: center;
    align-content: center;
}
.iconSearchHeader {
    margin-left: auto;
}
.logInButton {
    position: absolute;
    bottom: 10vh;
    align-self: center;
}
.input {
    border: 0;
    background-color: rgba(0, 0, 0, 0.100);
    padding: 15px;
    border-radius:12px;
}
.inputLabel {
    color: #000000c3;
    margin: 0;
    font-weight: 300;
}
.divInput {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
}
.marginTopHeader {
    margin-top: 8vh;
}
.headerLabel {
    font-weight: 600;
    font-size: 18px;
    width: 85%;
    text-align: center;
}
.transparentButton {
    border: 0;
    background-color: #ffffff00;
    padding: 10px;
}
.noPadding {
    padding: 0px;
}
.button {
    border: 0;
    padding: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 12px;
    font-size: 16px;
    background-color: #d7d7d7;
    font-weight: 500;
}

.green {
    background-color: #00B944;
    color: #fff;
}